@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Clientes</h1>
<table id="TabelaCliente"> 
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Sexo</th>
    <th>Data de Nascimento</th>
    <th>Estado Civil</th>
    <th>CPF</th>
    <th>RG</th>
  </tr>
</table>


  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">


<script>
     
    //function CarregaTabela() {
    //    var url = window.location.host + "/Cliente/SelecionarTodos";
    //    console.log(url);
        $('#TabelaCliente').DataTable({
            "ajax": {
                "url": "Cliente/SelecionarTodos",
                "type": "POST",
                "dataSrc": "data"
            },
            "columns": [
                { "data": "id" },
                { "data": "nome" },
                { "data": "sexo" },
                { "data": "dataNascimento" },
                { "data": "estadoCivil" },
                { "data": "cpf" },
                { "data": "rg" }
            ]
        });
    //$(document).ready(function() {

    //    CarregaTabela();        
</script>
